.search-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.search {
  margin-bottom: 0.5rem;
  position: relative;
  white-space: nowrap;

  #search {
    border: none;
    border-radius: 20px;
    padding-left: 40px;
    padding-bottom: 10px;
    box-shadow: none;
  }
  .search-icon {
    position: absolute;
    top: 60%;
    left: 15px;
    color: #4f5b66;
  }
}

.search-button {
  position: relative;
  left: 76%;
  bottom: 39.5%;
  border-radius: 20px;
  background-color: #10c0a6;
  border: 1px solid #10c0a6;
  &:hover {
    background-color: #00a389;
    border: 1px solid #00a389;
  }

  &:focus {
    outline: none;
    box-shadow: none;
    background-color: #10c0a6;
    border: 1px solid #10c0a6;
  }
}
