.weather {
  h1 {
    margin-bottom: 40px;
  }
  .current {
    // border: solid 2px $weather-border;
    border-radius: 10px;
    background-color: $weather-border;
    height: 400px;
  }
  .hourly {
    // border: solid 2px $weather-border;
    background-color: $weather-border;
    border-radius: 10px;
    height: 400px;
    margin-left: 20px;
  }
  .weather-daily {
    margin-top: 20px;
    margin-bottom: 20px;
    // border: solid 2px $weather-border;
    background-color: $weather-border;
    border-radius: 10px;
    height: 300px;
  }
}
